@import reset/reset
@import boxSizing

body
	margin: 0 auto
	width: 1300px
#ship-on-waves
	position: relative
	.text
		font: 22px "Myriad Pro"
		color: black
		padding: 3px 12px
		border-radius: 7px
		position: absolute
		border: none
		width: 100px
		text-align: center
		&-active
			background-color: #eb4f47
			color: white
		&:focus
			background: #ddedf4
