@import reset/reset
@import boxSizing

body
	margin: 0 auto
	width: 1300px
	padding-top: 20px
.btn-edit
	width: 100px
	border-radius: 7px
	text-align: center
	font: 22px "Myriad Pro"
	background: #6ED9BD
	padding: 10px 20px
	margin: 0 auto
	&:hover
		cursor: pointer
		background: #49cfac;
.active
	background-color: #bc443e
	color: white
	&:hover
		cursor: pointer
		background: #8c3531
#ship-on-waves
	position: relative
	.wrapper
		position: absolute
	.text
		font: 22px "Myriad Pro"
		color: black
		padding: 3px 12px
		border-radius: 7px
		border: none
		width: 100px
		text-align: center
		background: rgba(0,0,0,0)
		&-active
			background-color: #eb4f47
			color: white
		&:focus
			background: #ddedf4
			color: black
.description
	display: block
	margin: 0 auto
	margin-bottom: 20px
	padding: 20px
	border: 5px solid #17a2b8
	font: 22px "Myriad Pro"
	ul
		list-style-type: decimal
		list-style-position: inside
		ul
			margin-left: 25px
