<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Ship on waves
    link(rel="stylesheet", href="css/main.css")
    link(rel="icon" href="favicon.png")
    meta(name='description' content='Test project ship on waves.')
    meta(property='og:site_name' content='Ship on waves')
    meta(property='og:title' content='Ship on waves')
    meta(property='og:description' content='Test project ship on waves.')
    meta(property='og:image' content='img/ship.png' )
    meta(property='og:image:type' content="image/png" )
    meta(property='og:image:alt' content='ship')
  body
    .description
      ul
        li When pressed on text a ship begin motion to appropriate point a text.
        li In mode edit you can:
          ul
            li Drag and drop point.
            li Remove point by double click.
            li Edit text.
            li Create new point in mode edit when click on empty place.
    .btn-edit Edit
    #ship-on-waves
    script(src="js/main.js")
